// Tablet 950px
@media (max-width: 950px){
    .header-info {

        .qidiruv {
            margin: 0 10px;
            flex: 1;
            .kategor {
                width: auto;
                padding: 0 15px;
                &>p {
                    display: none;
                }
            }

            .head-search {
                flex: 1;
            }
        }

        .head-right {

            .profile {
                &>img {
                    width: 45px;
                }
                &>b {
                    display: none;
                }
            }
        }
    }

    .banner {
        height: 200px;
    }
    .banner-info {
        h1 {
            font-size: 35px;
        }
    }

    .aksiya-info {
        
        .cards {
            grid-template-columns: repeat(3, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .novinki-info {
        
        .cards {
            grid-template-columns: repeat(3, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .pokupali {
        height: 450px;
    }
    .pokupali-info {
        
        .cards {
            grid-template-columns: repeat(3, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .stat-info {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


// Phone 768px
@media (max-width: 768px){
    .header-info {
        .qidiruv {
            margin: 0 20px;
            flex: 1;
            .head-search {
                flex: 1;
            }
        }
        .head-right {
            .kategory {
                transition: 0s;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70px;
                background-color: #fff;
                justify-content: space-evenly;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }
        }
    }

    .banner {
        height: 170px;
    }
    .banner-info {
        h1 {
            font-size: 27px;
        }
    }

    .aksiya {
        height: auto;
        padding: 15px 0;
    }
    .aksiya-info {
        
        .cards {
            grid-template-columns: repeat(2, 1fr);

            .card:nth-child(4){
                display: block;
            }
        }
    }

    .novinki {
        height: auto;
        padding: 15px 0;
    }
    .novinki-info {
        
        .cards {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .card:nth-child(4){
                display: block;
            }
        }
    }

    .pokupali {
        height: auto;
        padding: 15px 0;
    }
    .pokupali-info {
        
        .cards {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .card:nth-child(4){
                display: block;
            }
        }
    }

    .spetsialniye {
        height: auto;
        padding: 20px 0;
    }
    .spetsialniye-info {

        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 0;
        }
    }

    .stat-info {
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);

            .card {

                .card-top {
                    height: 50%;
                }

                .card-bottom {
                    height: 50%;
                }
            }
        }
    }


    .footer {
        margin-bottom: 70px;
        height: 130px;
    }

    .footer-info {
        .footer-right {

            .footer-logos {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

// small phone 460px
@media (max-width: 460px){
    .header-info {
        .logo {
            &>h2 {
                display: none;
            }
        }
    }

    .banner {
        height: 150px;
    }
    .banner-info {
        h1 {
            font-size: 20px;
        }
    }

    .aksiya {
        height: 1270px;
    }
    .aksiya-info {
        
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .novinki {
        height: 1070px;
        margin-top: -30px;
    }
    .novinki-info {
        
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .pokupali {
        height: 1100px;
    }
    .pokupali-info {
        
        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .card:nth-child(4){
                display: none;
            }
        }
    }

    .stat-info {
        .cards {

            .card {

                .card-top {
                    height: 40%;
                }

                .card-bottom {
                    height: 60%;
                }
            }
        }
    }
}



// footer uchun kerak bo'ldi
@media (max-width: 670px){
    .footer-info {
        &>ul {
            display: none;
        }
    }
}