.pokupali {
    background-color: $main-bg-color;
    height: 500px;
}

.pokupali-info {
    height: 100%;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 30px;

        h2 {
            color: $text-color;
            font-size: 33px;
        }

        a {
            text-decoration: none;
            color: $text-color;
            font-weight: 500;
            transition: 0.4s;
            
            &:hover {
                transition: 0.1s;
                color: $main-color-2;
            }
        }
    }

    .cards {
        height: auto;
        display: grid;
        gap: 45px;
        grid-template-columns: repeat(4, 1fr);

        .card {
            border-radius: 5px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            background-color: #fff;
            overflow: hidden;
            transition: 0.3s;

            &:hover {
                transform: scale(1.05);
                // cursor: pointer;
                box-shadow: rgba(255, 94, 0, 0.16) 0px 3px 6px, rgba(255, 60, 0, 0.23) 0px 3px 6px;
            }

            .card-top {
                height: 45%;
                display: flex;
                justify-content: center;
                padding: 7px 0;
                position: relative;
                
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 80px;
                }
                &>.fa-heart {
                    color: rgb(175, 175, 175);
                    font-size: 23px;
                    position: absolute;
                    top: 15px;
                    right: 15px;

                    &:hover {
                        color: $main-color-2;
                        cursor: pointer;
                    }
                }
            }

            .card-bottom {
                height: 55%;
                padding: 0 10px;

                .narx {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 7px 0;
                    .narx-chap {
                        p {
                            color: rgb(153, 153, 153);
                            font-size: 15px;
                        }
                    }

                    .narx-ung {
                        b {
                            font-size: 15px;
                            color: rgb(120, 120, 120);
                            font-weight: 500;
                        }
                        p {
                            color: rgb(153, 153, 153);
                        }
                    }
                }

                .product-rating {
                    margin: 7px 0;

                    &>i {
                        color: rgb(182, 182, 182);
                    }

                    &>i:nth-child(1){
                        color: $main-color-2;
                    }
                    &>i:nth-child(2){
                        color: $main-color-2;
                    }
                }
            }
        }
    }
}