.kontakt {
    background-color: $main-bg-color;
    padding: 20px 0 40px 0;
}
.kontakt-info {

    .navigatsiya {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: $text-color;
        cursor: context-menu;

        &>a {
            text-decoration: none;
            color: black;
            cursor: pointer;

            i {
                margin-left: 5px;
            }
        }
    }

    &>h2 {
        margin-bottom: 20px;
        font-size: 43px;
        font-weight: 900;
        color: $text-color;
        letter-spacing: 0.5px;
    }

    .sklad {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;

        ul {
            list-style-type: none;
            li {
                &:first-child {
                    color: $text-color;
                }

                b {
                    font-weight: 500;
                    text-decoration: underline;
                    margin-top: 5px;
                    display: inline-block;
                    margin-left: 15px;
                }
                
                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .empty-space {
        height: 100px;
    }

    &>h3 {
        font-size: 27px;
        color: $text-color;
        margin-bottom: 10px;
    }

    .location-btns {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        &>button {
            transition: 0.4s;
            border: none;
            outline: none;
            padding: 7px 15px;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.04);
                background-color: $main-color-1;
                color: #fff;
            }
            &:active {
                transition: 0.1s;
                transform: scale(0.9);
            }
        }
    }

    .filial {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 10px 0;

        ul {
            list-style-type: none;

            li {
                color: $text-color;
                margin-bottom: 5px;

                i {
                    margin-right: 5px;
                }
                a {
                    color: $text-color;
                }
            }
        }
    }

    .location-img {
        background-color: gray;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 25px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}