.vakansiya {
    background-color: $main-bg-color;
    padding: 20px 0 40px 0;
}
.vakansiya-info {
    .navigatsiya {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: $text-color;
        cursor: context-menu;

        &>a {
            text-decoration: none;
            color: black;
            cursor: pointer;

            i {
                margin-left: 5px;
            }
        }
    }

    &>h2 {
        margin-bottom: 20px;
        font-size: 43px;
        font-weight: 900;
        color: $text-color;
        letter-spacing: 0.5px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 37px;

        .card {
            background-color: #fff;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            cursor: context-menu;
            transition: 0.4s;

            &:hover {
                transform: scale(1.04);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            }

            &>h4 {
                font-size: 22px;
                margin-bottom: 15px;
                font-weight: 700;
            }

            &>p {
                margin-bottom: 12px;
                color: $text-color;

                &>span {
                    margin-bottom: 6px;
                    display: inline-block;
                }
            }

            p:nth-child(5) {
                color: black;
                margin-bottom: 8px;
                font-weight: 500;
            }

            &>a {
                text-decoration: none;
                color: $text-color;
                display: flex;
                gap: 5px;
            }
        }
    }
}